<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contenido convencedor</h5>
          <p class="grey-text text-lighten-4">Profe pasenos aunque sea en 3.0, la luchamos.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Ofrendas para el profe</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Pienselo</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Usted sabe que nosotros trabajamos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">No somos los mejores pero lo intentamos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">¡¡Gracias!!</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Nos vemos en .net</a>
      </div>
    </div>
  </footer>
